*{
  box-sizing: border-box;
}

body{
  font-family: 'Barlow';
}

// ::::: TITLES //////
h1 {
  padding-top: 0;
  font-family: 'Pattaya', cursive;
  font-size: 90px;
  color:rgb(1, 57, 40);
}

h2, h3{
  font-family: 'Barlow';
  font-weight: 500;
  color: rgb(245, 243, 243);
  font-size: 42px;
  text-shadow: 1px 1px 2px black;
}

h3{
  font-weight: 400;
}

h4{
  font-family: 'Barlow';
  font-size: 20px;
}


.titre-section{
  color:rgb(1, 57, 40);
  font-family: 'Pattaya', cursive;
  text-shadow: 1px 1px 1px rgb(252, 252, 252);
}

//::::::: CONTAINERS ///////////

.global-container {
  padding-top: 70px;
}

.small-container{
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5% 0 5%;
}

.card{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.dash-container{
display: flex;
flex-direction: column;
align-items: center;
}


.img-accueil{
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
  gap: 6%;
  background: image-url('plant2.jpeg') no-repeat center / cover;
  // filter: contrast(.8);
  width: 100%;
  height: 90vh;

}

.ligne{
  color: black;
  width: 30%;
  background: rgb(245, 243, 243);
  height: 1.8px;
}

.btn-rent{
  width: 20%;
  height: 10%;
  padding-top: 0.5%;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(3, 3, 6, 0.2);
}

.barre-recherche{
  width: 190px;
  height: 38px;
  border: 1px solid #ced4da;
  font-family: 'Barlow';
  padding-left: 3%;
}
.search-duo{
  display: flex;
}

.display-plants{
  padding: 5%;
}


.btn-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}


.link-home, a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  &:hover{
    text-decoration: none;
    color: black;
  }
}
// ::::::::::: RECHERCHE :::::::::::::::::::::::

.main-container {
  padding-top: 0;
  display: flex;
  border-top: rgb(218, 215, 215) 1.5px solid;
}

.display-cards {
  flex-grow: 1;
}

.card{
 height: 25vh;
 background-size: cover;
 background-repeat: no-repeat;
 margin-bottom: 2%;
}

// FOOTER////////////////

.footer {
  border-top: rgb(225, 225, 225) solid 1px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #007149;
}
