<<<<<<< HEAD
=======
.form-container{

  background-image: image-url("leaf-pattern-large.jpeg");
  opacity: 0.8;

}

.bg-white {
  background-color: blanchedalmond;
  padding: 10%;
  border-radius: 1%;
  box-shadow: 1px 1px 12px #555;
  // opacity: 0.95;
}
>>>>>>> master
