<div class="dash-container mt-4">
<h2 class="titre-section">Dashboard</h2>

<div class="card py-5 col-4 mt-4">

    <div id="accordion" class="myaccordion">


      <div class="card">
        <div class="card-header">
          <p class="mb-0">
            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <p><i class="fas fa-seedling"></i> My Plants</p>
            </button>
          </p>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div>
                <p>List</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="mb-0">
            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <p><i class="fas fa-seedling"></i> Manage my bookings</p>
            </button>
          </p>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div>
                <p>My bookings on hold</p>
                <p>My validated bookings</p>
                <p>My past bookings</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <p class="mb-0">
            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <p><i class="fas fa-seedling"></i> Add a plant</p>
            </button>
          </p>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div class="caroussel-card">

            </div>
          </div>
        </div>
      </div>
      </div>

