<div class="dash-container mt-4">
<h2 class="titre-section">Dashboard</h2>

<% @my_plant_bookings.each do |booking| %>
  <%= booking.plant.name %>
  <%= link_to booking.plant.name, booking_path(booking) %>
<% end %>

<div class="card py-5 col-4 mt-4">
  <div id="accordion" class="myaccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <p><i class="fas fa-seedling"></i> My Plants</p>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

        <div class="card-body">
          <div>
              <p><i>List</i></p>
          </div>
        </div>

        </div>
      </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <p><i class="fas fa-seedling"></i> Manage my bookings</p>
      bo    </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div>
                <p>My bookings on hold</p>
              <p>My validated bookings</p>
              <p>My past bookings</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <p><i class="fas fa-seedling"></i><a href="_form"> Add a plant</p>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="caroussel-card">

          </div>
        </div>
      </div>
    </div>
  </div>
