<div class="small-container">
    <h4><a href="" class="link-home">About us</a></h4>
    <h1>greenNb</h1>
    <h4><a href="" class="link-home">Our Engagement</a></h4>
</div>

<div class="img-accueil">
  <h2>RENT A PLANT TO MAKE YOUR INTERIOR GREAT AGAIN</h2>
  <hr class="ligne">
  <h3>Cultivate well-being in your apartment <br>without having a green thumb</h3>
  <a class="btn btn-success btn-rent" href="plants" target="_blank">
      Rent a Plant
  </a>
</div>


<%= render 'plants/cards_grid', plants: @plants %>
