<div class="display-plants mt-4">
  <div class="row">
    <% plants.each do |plant| %>
      <div class="col-sm-4" >
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= "https://res.cloudinary.com/db0v28ezw/image/upload/v1621437963/#{plant.photos.first.key}.jpg" %>');">
          <div class="card-description">
            <p><strong><%= plant.name.capitalize %></strong></p>
          </div>
          <div class="see-this-plant">
            <%= link_to "See this Plant", plant_path(plant) %>
            <i class="fas fa-seedling fa-index"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


      <%# <% if @plant.user != current_user %>
        <%# <p><%= link_to "Book this plant", new_plant_booking_path(@plant)%></p>
      <%# <% end %>
