<div class="display-plants mt-2">
  <div class="row">
    <% plants.each do |plant| %>
      <div class="col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= plant.photos[0].url %>');">
          <div class="card-description">
            <p><%= plant.name.capitalize %></p>
          </div>
          <div>
          <%= link_to "Book me", plant_path(plant) %>
          <i class="fas fa-seedling"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
