<h2 class="titre-section text-center">Find the plant of your dream 🌿</h2>

<div class="main-container">
  <div class="display-cards">
    <%= render "cards_grid", plants: @plants %>
  </div>

  <div id="map"
    style="width: 40%; height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<% if @plant.errors.messages%>
<%# <p> Information Missing, Click Again</p> %>
<% end %>

<div class="btn-centered">
<div>
  <a class="btn btn-success" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1 ">Add a new plant</a>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                  <%= render "form", plant: @plant %>
              </div>
            </div>
          </div>
      </div>
      </div>
</div>
