<h1>Plants 🌿</h1>
<ul>
  <% @plants.each do |plant| %>
    <li>
    <%= link_to plant.name, plant_path(plant) %>
    </li>
  <% end %>
</ul>

<% if @plant.errors.messages%>
<p> Information Missing, Click Again</p>
<% end %>


<a class="btn btn-success" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1 ">Add a new plant</a>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <%= render "form", plant: @plant %>
            </div>
          </div>
        </div>
    </div>
