<div class="form-container">
  <div class="row">
    <div class="container py-5 col-4">
      <div class="mb-3 bg-white">
        <h2 class="titre-section">Create my plant</h2>
        <%= render "form", plant: @plant %>
      </div>
    </div>
  </div>
</div>
